.bigSpace {
    dispay: block;
    height: 8rem;
}

.space {
    dispay: block;
    height: 4rem;
}

.smallSpace {
    dispay: block;
    height: 2rem;
}

.noSpaceForWeb {
    height: 0px;
    width: 0px;
    visibility: hidden;
    position: relative;
    right: 99999px;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 1000px) {
    .noSpaceForMobile {
        height: 0px !important;
        width: 0px;
        visibility: hidden;
        position: relative;
        right: 99999px;
        padding: 0px;
        margin: 0px;
    }

    .noSpaceForWeb {
        display: block;
    }

    .bigSpace {
        height: 4rem;
    }

    .space {
        height: 2rem;
    }

    .smallSpace {
        height: 1rem;
    }
}