.bigSpace {
    height: 8rem;
}

.space {
    height: 4rem;
}

.smallSpace {
    height: 2rem;
}

@media (max-width: 1000px) {
    .noSpaceForMobile {
        height: 0rem;
    }

    .bigSpace {
        height: 4rem;
    }

    .space {
        height: 2rem;
    }

    .smallSpace {
        height: 1rem;
    }
}