.bigSpace {
    dispay: block;
    height: 8rem;
}

.space {
    dispay: block;
    height: 4rem;
}

.smallSpace {
    dispay: block;
    height: 2rem;
}

.noSpaceForWeb {
    display: none;
}

@media (max-width: 1000px) {
    .noSpaceForMobile {
        display: none;
    }

    .noSpaceForWeb {
        display: block;
    }

    .bigSpace {
        height: 4rem;
    }

    .space {
        height: 2rem;
    }

    .smallSpace {
        height: 1rem;
    }
}