.footer {
    background-color: #1d1d1d;
    color: #fff;
    padding: 2rem;
    text-align: center;
  }
  
  .footerContent {
    margin-bottom: 1rem;
  }
  
  .footerBottom {
    margin-top: 1rem;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .fixed-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    width: 100%;
    display: block; /* Show the footer when fixed */
  }
  