/* Footer.module.css */
.div .p {
color: #F5F5F5;
font-family: "Helvetica Neue";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}

.footer {
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(0, 56, 255, 0.00) 0%, #0038FF 100%);
  height: 500px;
}

.leftColumn,
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.spaceColumn {
  flex: 0.7;
}

.rightColumn ul {
  list-style: none;
  padding: 0;
  flex: 1; /* Ensure the ul takes up all available space */
}

.rightColumn li {
  margin-bottom: 2px;
}

/* Spacer to create empty space */
.spacer {
  flex-grow: 1;
}

.socialButtonsWrapper {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.socialButtons {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.socialButtons button .fab {
  fill: blue;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 1280px) {
  .spaceColumn {
    flex: 0;
  }
}
