.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leftColumn, .rightColumn {
  flex: 1;
}

.rightColumn h3 {
  margin-top: 0;
}

.socialButtons {
  display: flex;
  gap: 15px; 
  margin-top: 10px;
}

.socialButtons button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.socialButtons button .fab {
  fill: blue;
}
