.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  padding-bottom: 4rem;
  color: #fff;
  backdrop-filter: blur(8px);
  z-index: 1000;
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
  mask: linear-gradient(to top, transparent, black 45%);
}


.spacingNavbar {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  padding-bottom: 4rem;
  color: #fff;
  backdrop-filter: blur(8px);
  z-index: 1000;
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
  mask: linear-gradient(to top, transparent, black 45%);
}

.logo img {
  width: 60px; 
}

.navLinks {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  text-decoration: none;
}

.selected {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 56, 255, 0.75) 0%, rgba(0, 56, 255, 0.0) 100%);
  border-radius: 8px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
}

.unselected {
  background: radial-gradient(50% 50% at 50% 50%, rgba(19, 19, 19, 0.75) 0%, rgba(0, 56, 255, 0.0) 100%);
  border-radius: 5px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
}

.mobileMenuIcon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

/* Media query for mobile menu */
@media (max-width: 800px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Position below the sticky navigation bar */
    right: 0;
    width: 100%;
    background-color: #131313;
    z-index: 1;
  }

  .navLinks.showMobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .navLinks {
    width: 100%;
    text-align: center;
    padding: 0.2rem;
  }

  .mobileMenuIcon {
    padding: 0.5rem;
    display: block;
  }
}