.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .title1 {
    align-self: flex-start;
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  
  .title2 {
    align-self: flex-start;
    text-align: left;
    padding: 1rem;
    font-size: 1rem;
  }
  
  /* Media query for mobile layout */
  @media (max-width: 768px) {
    .container,
    .title1,
    .title2 {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .container {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  
    .title1 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  
    .title2 {
      margin-top: -0.5rem;
    }
  }
  