.rowContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.rowContainerReversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.imageColumn {
  flex: 0.8;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  margin-right: 2rem;
}

.imageColumnReversed {
  flex: 0.8;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  margin-left: 2rem;
}

.image {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.quoteColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.row {
  flex: 2;
  display: flex;
  padding-left: 1rem;
  flex-direction: row;
  align-items: center;
  align-self: end;
  margin-right: 20px;
}

.rowReversed {
  flex: 2;
  display: flex;
  padding-left: 1rem;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  align-self: start;
  margin-right: 1rem;
  margin-bottom: 10px;
}

.buttonColumn {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.button {
  flex: 0.5;
  display: flex;
  justify-content: center;
      align-self: center;
  align-items: flex-start; /* Align items to the start (top) of the container */
}

.quoteInvisibleIcon {
    width: 60px;
    height: 30px;
    margin-bottom: 10px; /* Add margin to the bottom to separate the image and text */
    display: block;
    visibility: hidden;
}

.desc {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  visibility: hidden;
}

.descReversed {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 2rem;
  padding-right: 2rem;
}

.invisibleButton {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
}

.quote {
  font-size: 26px;
  font-weight: 200;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: justify;
}

.altAlign {
  text-align: end;
}

@media (max-width: 1024px) {

  .rowContainer,
  .rowContainerReversed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
  }

  .row,
  .rowReversed {
    flex-direction: column;
    padding-left: 0;
    margin-right: 0;
  }

.imageColumn {
  padding-bottom: 2rem;
  margin-right: 0;
}

  .image {
    width: 50vw;
    height: 100%;
    align-self: center;
  }

  .icon {
    width: 40px;
    height: auto;
  }

  .quote {
    font-size: 18px;
    font-weight: 200;
    line-height: unset;
  }

  .quoteInvisibleIcon {
    display: none;
  }

  .buttonColumn {
    align-self: center;
  }

  .altAlign {
    text-align: start;
  }
}