.container {
  width: 120%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

.container::-webkit-scrollbar {
  width: 0px;
}

.scroll{
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.scroll div {
  white-space: nowrap;
  animation: animate 10s linear infinite;
      animation-delay: calc(var(10s) * -1);
}

.scroll div:nth-child(2) {
    animation: animate2 10s linear infinite;
    animation-delay: calc(10s / -2);
}

@keyframes animate {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-200%)
  }
}

.scroll div div {
  display: inline-flex;
  padding: 10px;
  transition: 0.5s
}

.imageWrapper {
  min-width: 260px;
  justify-content: center;
  display: inline-flex;
  padding: 10px;
  transition: 0.5s;
}

.imageItem {
  white-space: nowrap;
  height: 100px;
  width: auto;
  max-width: 200px;
  object-fit: scale-down;
}