.container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrollWrapper {
  display: flex;
  flex-direction: row;
  animation: scrollAnimation 30s linear infinite forwards;
  justify-content: space-between;
  align-items: center;

  width: 7080px;
}

.imageLists {
  justify-content: space-around;
  width: 33.333333%;
  display: flex;
  align-items: center;
}

.imageWrapper {
  min-width: 260px;
  margin: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.imageItem {
  white-space: nowrap;
  height: 80px;
  width: auto;
}

.partnersTitle {
  padding: 2rem;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 103.125% */
  text-transform: uppercase;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-66.66%));
  }
}
