.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  text-align: center;
}


.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.arrowImage {
  margin: 2rem;
}


@media (max-width: 1000px) {
  .arrows {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.arrow {
  position: relative;
  top: 50%;
  transform: none;
}

  .arrowsWrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
