@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #131313;
}

@media () {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #131313;
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}

main {
  flex: 1;
}

body::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}


body::-webkit-scrollbar-track {
  background: #131313;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #444444;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px #fff;  /* creates padding around scroll thumb */
}

.iubenda-tp-btn[data-tp-float][data-tp-float=bottom-right] {
  background-color: rgb(19, 19, 19)!important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='blue' fill-rule='evenodd' d='M16 7a4 4 0 0 1 2.627 7.016L19.5 25h-7l.873-10.984A4 4 0 0 1 16 7z'/%3E%3C/svg%3E")!important;
}

.iubenda-embed.iubenda-black:not(.no-brand):not(.iubenda-nostyle) {
  background-color: rgb(19, 19, 19)!important;
}