.bannerImage {
    width: 100%;
    height: auto;
    position: relative;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
}

.content {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0%;
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
}

.invisibleInMobile {
}

.visibleInMobile {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

  .appBarSpace {
    padding-bottom: 3.5rem;
    display: block;
    visibility: hidden;
  }

  .mobileAppbarSpacer {
    
      height: 0px;
      width: 0px;
      visibility: hidden;
  }


@media (max-width: 1000px) {
  .invisibleInMobile {
    
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

  .visibleInMobile {
    display: block !important;
    height: auto;
    width: auto;
    visibility: visible !important;
  }
  
    .appBarSpace {
    padding-bottom: 0;
    visibility: hidden;
  }

  .mobileAppbarSpacer {
    display: block !important;
    visibility: visible !important;
  }
}