.title {
    position: absolute;
    z-index: 100;
    top: 15%;
    color: #F5F5F5;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    padding: 2rem;
    white-space: pre-line;
    line-height: 118px; /* 107.273% */
  }

  /* Media query for mobile menu */
@media (max-width: 800px) {
    .title {
        font-size: 20px;
        line-height: 24px; /* 107.273% */
    }
}