  .invisibleInMobile {
    display: block;
  }

  .visibleInMobile {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }
  
@media (max-width: 1024px) {
  .invisibleInMobile {
    height: 0px;
    width: 0px;
    visibility: hidden;
    position: relative;
    top: 99999px;
    right: 99999px;
    padding: 0px;
    margin: 0px;
  }

  .visibleInMobile {
    display: block !important;
    visibility: visible !important;
    height: auto;
    width: auto;
  }
}