  .invisibleInMobile {
    display: block;
  }

  .visibleInMobile {
    display: none !important;
  }
  
@media (max-width: 1024px) {
  .invisibleInMobile {
    display: none !important;
  }

  .visibleInMobile {
    display: block !important;
    background: #F5F5F5;
  }
}