.container {
  display: flex;
  flex-direction: row; /* Ensure a horizontal layout by default */
  justify-content: space-between; /* Add space between the image and text */
  gap: 1rem;
  margin-top: 2rem; /* Add spacing at the top of each component */
  margin-bottom: 2rem; /* Add spacing at the bottom of each component */
  padding: 2rem;
}

.inverted {
  flex-direction: row-reverse; /* Reverse the order of flex items */
}

.content {
  flex: 1; /* Split the available width equally */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the top left */
}

.title {
  align-self: flex-start; /* Align title to the top left */
  text-align: left; /* Align text to the left within the title section */
  padding: 1rem;
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.text {
  /* Add any additional styling for text */
  align-self: flex-start; /* Align text to the top left */
  text-align: left; /* Align text to the left within the text section */
  padding: 1rem;
}

.image {
  max-width: 45%; /* Maximum 50% width for non-mobile mode */
  max-height: 100%; /* Set a maximum height for the images */
  margin-right: 20px; /* Adjust margin as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.img {
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  max-height: 100%; /* Set a maximum height for the images */
  padding: 2rem;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Media query for mobile layout */
@media (max-width: 768px) {
  .container,
  .image,
  .text,
  .title {
    flex-direction: column; /* Switch to a vertical layout for smaller screens */
    align-items: flex-start; /* Align items to the top left in mobile layout */
  }

  .container {
    margin-top: 1rem; /* Add spacing at the top of each component */
    margin-bottom: 2rem; /* Add spacing at the bottom of each component */
  }

  .title,
  .text {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0;
  }

  .image {
    max-width: 100%; /* Allow the image to take the full width in mobile layout */
    margin-right: 0; /* Remove margin for mobile layout */
    padding: 2rem;
  }
}
