.scrollIndicator {
    display: block;
    pointer-events: none;  /* Make the div non-interactable */
    position: absolute;
    bottom: 1%;
    right: 0%;
    left: 0%;
    height: 60px;
    padding-bottom: 1rem;
    width: 100%;
    z-index: 10000;
    opacity: 1;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}

.scrollIndicator.hidden {
    opacity: 0;
}

@media (max-width: 1000px) { 
    .scrollIndicator {
        opacity: 0;
    }
}
