.container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.text {
    flex: 4;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: 24px;
}

.map {
    flex: 6;
    max-width: 700px;
    margin-bottom: 2rem;
    margin-right: 100px;
    background: white;
}

.name {
  font-weight: 500;
  font-size: 26px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.smallText {
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.loading {
  background-color: #131313;
  width: 100%;
  height: 100%;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .smallText {
        font-size: 16px;
    }

    .map {
        margin-top: 2rem;
        flex: unset;
        max-width: unset;
        width: 100vw;
        height: 40vh;
        margin-right: unset;
    }
}