.container {
    display: flex;
    flex-direction: row;
}

.text {
    flex: 4;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: 24px;
}

.map {
    flex: 6;
    max-width: 700px;
    height: 400px;
    margin-right: 100px;
    background: white;
}

.name {
  font-weight: medium;
  font-size: 26px;
  font-family: "Helvetica Neue";
}

.smallText {
    font-size: 16px;
    font-family: "Helvetica Neue";
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .smallText {
        font-size: 16px;
    }

    .map {
        margin-top: 2rem;
        flex: unset;
        max-width: unset;
        width: 100vw;
        height: 40vh;
        margin-right: unset;
    }
}