.container {
    display: flex;
    flex-direction: row;
}

.text {
    flex: 4;
    padding: 2rem;
}

.map {
    flex: 6;
    max-width: 700px;
    height: 400px;
    margin-right: 100px;
    background: white;
}

.name {
  font-weight: bold;
  font-size: 26px;
}